<footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">ApartmentSite</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Navigation</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#home">Back to Top</a></li>
            <li><a class="grey-text text-lighten-3" href="#amenities">Amenities</a></li>
            <li><a class="grey-text text-lighten-3" href="#floorplans">Floor Plans</a></li>
            <li><a class="grey-text text-lighten-3" href="#location">Location</a></li>
            <li><a class="grey-text text-lighten-3" href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright black">
      <div class="container">
      © 2017 Isometric Interactive
      <!-- Modal Trigger -->
      <a class="grey-text text-lighten-4 right" href="#modal1"><i class="lock material-icons tiny">lock_outline</i> Management Login</a>
      
      
      </div>
    </div>
</footer> 