<footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col s4 l4">
          <h5 class="white-text">NEWPORT PLACE</h5>
            <p class="grey-text text-lighten-4">              
                Visit us at:<br>
                Newport Place Apartments
                300 28th St.<br>
                Newport Beach, CA<br>
                USA
            </p>
        </div>
        <div class="col s4 l4">
          <h5 class="white-text">Hours</h5>
            <p class="grey-text text-lighten-4">
              Mon - Fri: 9am-6pm <br>
              Sat: 10am-5pm
            </p>
        </div>
        <div class="col l4 s4">
          <h5 class="white-text">Navigation</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#home">Back to Top</a></li>
            <li><a class="grey-text text-lighten-3" href="#amenities">Amenities</a></li>
            <li><a class="grey-text text-lighten-3" href="#floorplans">Floor Plans</a></li>
            <li><a class="grey-text text-lighten-3" href="#location">Location</a></li>
            <li><a class="grey-text text-lighten-3" href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright black">
      <div class="container">
      © 2017 Isometric Interactive
      <!-- Modal Trigger -->
      <a class="grey-text text-lighten-4 right" href="#modal1"><i class="lock material-icons tiny">lock_outline</i> Management Login</a>
      
      
      </div>
    </div>
</footer> 