<div class="row">
	<form class="col s12  workorderform">
		<h5 class="center amber-text darken-4">Maintenance Request</h5>
		<div class="row">
			<form action='/resident/workorders' method='post' id="workorderform">
				<div class="row">
			        <div class="input-field col s10 l4 offset-l3">
				        <input id="resident_name" name="name" type="text" class="validate">
				        <label for="resident_name">Name</label>
				    </div>
				    <div class="input-field col s2 l2">
				        <input id="apartment_number" name="apartment_number" type="text" class="validate">
				        <label for="apartment_number">Apt. No.</label>				    
					</div>
				</div>				
				<div class="input-field col s12 l6 offset-l3">
					<textarea id="textarea1" class="materialize-textarea" name="request"></textarea>
					<label for="textarea1">Description of the problem</label>
				</div>
				<div class="col s12 l6 offset-l3">
					<h5>Authorized to enter unit?</h5>
					<p>
						<input name="permission_to_enter" type="radio" id="authorize-yes" />
						<label for="authorize-yes">Yes</label>
					</p>
					<p>
						<input name="permission_to_enter" type="radio" id="authorize-no" />
						<label for="authorize-no">No</label>
					</p>
					<br>
				</div>
				<div class="row">
					<div class="col s12 l6 offset-l3">
						<button class="btn waves-effect waves-light amber" type="submit" name="action">Submit
					    	<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</form>
</div>
