<div class="navbar-fixed">
	<nav class="grey darken-3">
		<div class="nav-wrapper container">
			<a href="#!" class="brand-logo">Logo</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a id="prospects_button" href="http://localhost:8080/manager/prospects">Prospects</a></li>
				<li><a id="applicants_button" href="http://localhost:8080/manager/applicants">Applicants</a></li>
				<li><a id="tenants_button" href="http://localhost:8080/manager/tenants">Tenants</a></li> 
				<li><a id="workorders_button" href="http://localhost:8080/manager/workorders">Work Orders</a></li>
				<li><a id="contractors_button" href="http://localhost:8080/manager/contractors">Contractors</a></li>						
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a id="prospects_button" href="manager/prospects">Prospects</a></li>
				<li><a id"applicants_button" href="manager/applicants">Applicants</a></li>
				<li><a id="tenants_button" href="manager/tenants">Tenants</a></li> 
				<li><a id="workorders_button" href="manager/workorders">Work Orders</a></li>
				<li><a id="contractors_button" href="manager/contractors">Contractors</a></li>	
			</ul>
		</div>
	</nav>
</div>