      <header>
        <div class="navbar-fixed">
          <nav class="grey darken-3">
            <div class="nav-wrapper container">
              <a href="#!" class="brand-logo">Logo</a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="#amenities">Amenities</a></li>
                <li><a href="#floorplans">Floor Plans</a></li>
                <li><a href="#location">Location</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#">Residents</a></li>                  
                <!-- <a class="apply waves-effect waves-light btn transparent">RESIDENT LOGIN</a> -->
                <a class="waves-effect waves-light btn amber">APPLY NOW</a>
              </ul>
              <ul class="side-nav" id="mobile-demo">
                <li><a href="#amenities">Amenities</a></li>
                <li><a href="#floorplans">Floor Plans</a></li>
                <li><a href="#location">Location</a></li>
                <li><a href="#contact">Contact</a></li>
                <a class="waves-effect waves-light btn amber">APPLY NOW</a>
              </ul>
            </div>
          </nav>
        </div>
       </header>
      <main>
        <section>
          <a id="amenities"></a>
          <div class="row amenities grey darken-2 white-text">
            <h4 class="align center">AMENITIES</h4>
          </div>
        </section>
        <section>
          <a id="floorplans"></a>
          <div class="row floor-plans orange white-text">
            <h4 class="align center">FLOOR PLANS</h4>
          </div>
        </section>
        <section>
          <a id="location"></a>
          <div class="location black white-text">
            <h4 class="align center">LOCATION</h4>
          </div>
        </section>
        <section>
          <div>
            <a id="contact"></a>
            <h4 class="align center">CONTACT US</h4>
            <div class="row">
              <!-- Contact Form -->
              <form class="col s12 l6 offset-l3" id="contactForm">
                <div class="row">
                  <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                  </div>
                  <div class="row">
                    <div class="input-field col s12 m6">
                      <i class="material-icons prefix">email</i>
                      <input id="email" type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                  
                  <div class="input-field col s12 m6">
                    <i class="material-icons prefix">phone</i>
                    <input id="telephone" type="tel" class="validate">
                    <label for="telephone">Telephone</label>
                  </div>
                  </div>
                  <div class="input-field col s12">
                    <select id='bedrooms' multiple>
                      <!-- <option value="" disabled selected>BEDROOMS</option> -->                     
                      <option value="1">1 Bedroom</option>
                      <option value="2">2 Bedroom</option>
                      <option value="3">3 Bedroom</option>
                    </select>
                    <label>Bedrooms</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12">
                    <label>Move In Date</label>
                    <input id="move-in" type="date" class="datepicker">
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Message</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 l12">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                      <i class="material-icons right">send</i>
                    </button>
                  </div>                    
                </div>                
                <!-- Contact Form End -->
              </form>
            </div>
          </div>
        </section>
      </main>
      <footer class="page-footer grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">ApartmentSite</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright black">
            <div class="container">
            © 2017 Isometric Interactive

            <a class="grey-text text-lighten-4 right" href="#!"><i class="lock material-icons tiny">lock_outline</i> Management Login</a>

            </div>
          </div>
      </footer>   

