      <header>
        <div class="navbar-fixed">
          <nav class="grey darken-3">

            <div class="nav-wrapper container">
              <a href="/" class="brand-logo"><img src="images/maddox.png" id="logo"></a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="#amenities">Amenities</a></li>
                <li><a href="#floorplans">Floor Plans</a></li>
                <li><a href="#location">Location</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="/resident">Residents</a></li>                  
                <!-- <a class="apply waves-effect waves-light btn transparent">RESIDENT LOGIN</a> -->
                <a class="waves-effect waves-light btn amber" href="/applicant">APPLY NOW</a> 
              </ul>
              
              <ul class="side-nav" id="mobile-demo">
                <li><a href="#amenities">Amenities</a></li>
                <li><a href="#floorplans">Floor Plans</a></li>
                <li><a href="#location">Location</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="/resident">Residents</a></li> 
                <a class="waves-effect waves-light btn amber" href="/applicant">APPLY NOW</a>

              </ul>
            </div>
          </nav>
        </div>
       </header>
      <main>
        <section>
          <a id="home"></a>
          <a id="hero-image"></a>
          <div class="row hero grey darken-3">
            <div class="col l12">
              <img src="images/apartments780.png" id="hero" class="responsive-img">
              <div class="col s12 l12 orange darken-3 fatborder"></div>                        
            </div>
          </div>
        </section>
        {{!-- PROPERTY DESCRIPTION --}}
        <section>          
          <div class="row">
            <div class="col l6">

            </div>
            <div class="col l6">
              <h5 class="orange-text text-darken-4">The Maddox Apartments</h5>
                <p>Welcome to The Maddox
                Located in downtown Santa Monica on Hollister St. is a brand new apartment community - it's your home.
                The Maddox is the heartbeat of the ever popular Santa Monica neighborhood. We offer spacious 1, 2, and 3 bedroom contemporary floor plans with stunning views of the Pacific Ocean. Dining, shopping, and the sand are right at your doorstep. Santa Monica offers aproximately 75 dining/night life options within walking distance of your new home here at The Maddox. Contact us today!</p>  
            </div>
          </div>
        </section>
        {{!-- AMENITIES --}}
        <section>
          <a id="amenities"></a>
          <div class="row amenities grey darken-2 white-text">
            <div class="col l12">
              <img src="images/amenities600.png" class="responsive-img" id="amenitiesimg">
              <div class="col s12 l12 grey darken-4 fatborder"></div>
            </div>
          </div>
          <div class="row">           
            <div class="col s6 l6 offset-l3 center">
              <div class="card-panel grey lighten-2">
                <span>
                  <h4 class="amber-text text-darken-4">AMENITIES AT THE MADDOX</h4>
                  <ul>
                    <li>Hardwood-Style Flooring</li>
                    <li>Modern Quartz Countertops</li>
                    <li>Balconies and Patios</li>
                    <li>Stainless-Steel GE Appliances</li>                    
                    <li>Central Air and Heat</li>
                    <li>Spacious Closets</li>
                    <li>Cabanas and Pool Beds</li>
                    <li>Fire Pits</li>
                  </ul>
                </span>
              </div>            
          </div>
        </section>
        {{!-- FLOOR PLANS --}}
        <section>
          <a id="floorplans"></a>
          <div class="row">
              <div class="col s12 l12">
                <img src="images/livingroomx.png" class="responsive-img" id="floorplansimg">
              </div>
          </div>          
          <div class="row floor-plans orange darken-2 white-text">                        
            <div class="row">
              <div class="col s12 l6">
                <h4>FLOORPLANS</h4>
                <p>Santa Monica Apartments offers one, two, and three bedroom apartments. Contact us below by filling out your name, phone number, email, and desired floorplan. Not seeing what you're looking for? Availability changes every day, if you tell us what your needs are we’ll call you when availability changes.</p>
              </div>
              <div class="slider col s12 l6" id="floorplanslider">
                <ul class="slides">
                  <li>
                    <img src="/images/floorplanA400y.png" class="floorplans responsive-img">
                  </li>
                  <li>
                    <img src="/images/floorplanB400y.png" class="floorplans responsive-img">                    
                  </li>
                  <li>
                    <img src="/images/floorplanC400y.png" class="floorplans responsive-img">
                  </li>                  
                </ul>
              </div>
            </div>
          </div>
          <div class="col s12 l12 orange darken-2 fatborder"></div> 
        </section>
        {{!-- Location / Google Map --}}
        <section>
            <a id="location"></a> 
            <div class="col s12 l12 orange darken-2 fatborder"></div>                       
            <div class="row location">                
              <div class="col s12 l6">          
                <div id="map"></div>
              </div>
              <div class="col s12 l6" id="location_img_box">
                <img src="/images/santamonica.jpeg" id="location_img" class="responsive-img">  
              </div>
            <div class="col s12 l12 grey darken-3 fatborder"></div>  
            <div class="col s12 l12 grey darken-3 fatborder"></div>

        </section>
        {{!-- CONTACT FORM --}}
        <section>
          <div>
            <a id="contact"></a>
            <h4 class="align center">CONTACT US</h4>
            <div class="row">
              <!-- Contact Form -->
              <form action='/prospect' method='post' class="col s12 l6 offset-l3" id="contactForm">
                <div class="row">
                  <div class="input-field col s6">
                    <input id="first_name" name='first_name' type="text" class="validate">
                    <label for="first_name">First Name</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="last_name" name='last_name' type="text" class="validate">
                    <label for="last_name">Last Name</label>
                  </div>
                  <div class="row">
                    <div class="input-field col s12 m6">
                      <i class="material-icons prefix">email</i>
                      <input id="email" name='email' type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                  
                  <div class="input-field col s12 m6">
                    <i class="material-icons prefix">phone</i>
                    <input id="telephone" name='telephone' type="tel" class="validate">
                    <label for="telephone">Telephone</label>
                  </div>
                  </div>
                  <div class="input-field col s12">
                    <select id='bedrooms' name='bedrooms' multiple>
                      <!-- <option value="" disabled selected>BEDROOMS</option> -->                     
                      <option value="1">1 Bedroom</option>
                      <option value="2">2 Bedroom</option>
                      <option value="3">3 Bedroom</option>
                    </select>
                    <label>Bedrooms</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12">
                    <label>Move In Date</label>
                    <input id="move-in" name='move_in_date' type="date" class="datepicker">
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" name='message'></textarea>
                    <label for="textarea1">Message</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 l12">
                    <button class="waves-effect waves-light btn amber darken-2" type="submit" name="action">Submit
                      <i class="material-icons right">send</i>
                    </button>
                  </div>                    
                </div>                
                <!-- CONTACT FORM END-->
              </form>
            </div>
          </div>
        </section>
        <section>
          <!-- MODAL STRUCTURE -->
          <div id="modal1" class="modal">
            <div class="modal-content">

              <div class="center"><img src="images/maddox.png"></div>
              <p class="center">Management Login | <strong>THE MADDOX</strong></p>
              <form class="login">
                <div class="row">              
                  <div class="input-field col s12" id="username-form">
                    <input id="username-input" type="text" name="user" placeholder="Username">
                    <small id="username-feedback" class=""></small>
                    <label for="username-input">Username</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12" id="password-form">
                    <input id="password-input" type="password" name="pass" placeholder="Password">
                    <small id="password-feedback" class=""></small>
                    <label for="password-input">Password</label>             
                  </div>
                  {{!-- <input type="submit" name="login" class="login loginmodal-submit" value="Login"> --}}
                  <a type="submit" name="login" class="login loginmodal-submit modal-action modal-close waves-effect waves-green btn-flat" value="Login">Login</a>                  
                  <a href="/users/signup" class="modal-action login-help modal-close waves-effect waves-green btn-flat">Register</a>                  
                </div>
              </form> 

            </div>
            {{!-- <div class="row">
              <div class="modal-footer">
                <a href="/manager" class="modal-action modal-close waves-effect waves-green btn-flat">Enter</a>
              </div>
            </div> --}}
          </div>
        </section>
      </main>      
      {{> footer }}
      
      
