<body>
	<header>
	<div class="navbar-fixed">
		<nav class="grey darken-3">
			<div class="nav-wrapper container">
				<a href="/" class="brand-logo">Logo</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="/" class="amber-text">Back</a></li>					
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="/">Home</a></li>
				</ul>
			</div>
		</nav>
	</div>
	</header>

	<main>		
		{{#if workordersData}}			
			{{!-- display the clicked on work order form with resident's sumbitted data filled in --}}
			<div class="row">
		        <div class="input-field col s12">
		          <input disabled value="{{request}}" id="disabledRequest" type="text" class="materialize-textarea">
		          <label for="disabledRequest">Request</label>
		        </div>
		    </div>
		    <div class="col s12 l6 offset-l3">
				<h5>Authorized to enter unit? Answer: </h5><p>{{permission_to_enter}}</p>									
			</div>
			{{!-- display extra input fields for manager --}}
			
			
		
		{{/if}}
	</main>

	{{!-- Footer Partial --}}
	{{> footer }}

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>      	
</body>