<body>
	<header>
	<div class="navbar-fixed">
		<nav class="grey darken-3">
			<div class="nav-wrapper container">
				<a href="/" class="brand-logo">Logo</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="/" class="amber-text">Back</a></li>					
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="/">Home</a></li>
				</ul>
			</div>
		</nav>
	</div>
	</header>

	<main>		
		{{#if workordersData}}

			<div class="row">
				<h5 class="center amber-text darken-4">Maintenance Request</h5>
				
				<div class="input-field col s2 l2 offset-l3">
			        <input value="{{workordersData.apartment_number}}" id="disabledAptNum" type="text" class="validate">
			        <label for="disabledAptNum">Apartment Number</label>				    
				</div>
		        <div class="input-field col s2 l6 offset-l3">
		          <input value="{{workordersData.request}}" id="disabledRequest" type="text" class="materialize-textarea">
		          <label for="disabledRequest">Request</label>
		        </div>
		        <div class="input-field col s2 l2 offset-l3">
			        <input value="{{workordersData.permission_to_enter}}" id="disabledPermission" type="text" class="validate">
			        <label for="disabledPermission">Permission to Enter Unit?</label>				    
				</div>
			        				
		    </div>		    
			{{!-- display extra input fields for manager --}}
			<form action='http://localhost:8080/manager/workorders/update/1' method='POST' class="workorderform" id="workorderform">
				<div class="row">
					<div class="input-field col s6 l6 offset-l3">
					<textarea id="notes" class="materialize-textarea" name="notes"></textarea>
					<label for="notes">Notes</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s3 l2 offset-l3">
			          <input id="service_cost" type="text" class="validate" name="service_cost">
			          <label for="service_cost">Service Cost $</label>
			        </div>
		        </div>
				<div class="row">
					<div class="input-field col s12 l6 offset-l3" name="status">
						<select>
							<option value="" disabled selected>Needs Review</option>
							<option value="Reviewed">Reviewed</option>
							<option value="Vendor Scheduled">Vendor Scheduled</option>						
							<option value="Request Invoices">Invoices Required</option>
							<option value="Request Invoices">Bill Tenant</option>
							<option value="Icebox">Icebox</option>						
						</select>
						<label>Work Order Status</label>
					</div>
				</div>
				<div class="row">
					<div class="col l3 offset-l3">
						<div class="switch">
							<h6>Invoices Paid?</h6>
							<label>
							Payment required
							<input type="checkbox" name="paid" value="true">
							<span class="lever"></span>
							Paid
							</label>
						</div>
					</div>
					<div class="col l3">
						<div class="switch">
							<h6>Is work complete?</h6>
							<label>
							In Progress
							<input type="checkbox" name="completed" value="true">
							<span class="lever"></span>
							Complete
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col l3 offset-l3">
						<h6>Date completed</h6>
						<input id="date_completed" name="date_completed" type="date" class="datepicker">
					</div>
				</div>
				<div class="row">
					<div class="col s12 l6 offset-l3">
						<button class="waves-effect waves-light btn amber darken-2" type="submit" name="action">Update
                      		<i class="material-icons right">send</i>
                    	</button>
					</div>
				</div>
			</form>		
		{{/if}}
	</main>

	{{!-- Footer Partial --}}
	{{> footer }}
	
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>      	
</body>