body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

h3 {
	font-weight: 900;
}

main {
	flex: 1 0 auto;
}

.apply,  {
	border: 1.5px solid white;
	font-weight: bold;
	font-size: .8em;
}

.hero {
	padding: 0px 20px 0px 20px;
}

.amenities, .location, .floor-plans {
	margin-bottom:0px;
	padding-left:0px;
	padding-bottom:0px;
}

.amenities {
	padding: 0px 20px 0px 20px;
}

.lock {
	position: relative;
	top:2px;
}

#sidenav-overlay {
	z-index: 0;
}


#map {
    height: 400px;
    width: 100%;    
}

.slider .indicators .indicator-item {
	background-color: white;
}

.workorderform {
	margin-top:20px;
}

td {
	min-width:100px;
}

.telephone-number {
	min-width:120px;
}

.slider .slides{
	background-color: transparent;	
}

#amenitiesimg, #floorplansimg {
	width: 100%;
}

.fatborder {
	width:100%;
	height:30px;
}

#amen-descrip {
	height: 300px;
}

.floorplans {
	max-width:100%;
	max-height:100%;
}

.iconcontainer {
	margin-top: 80px;
	z-index: 100;
	top: 100px;
	position: absolute;
	width:100%;
}


.iconbox {
	width: 100px;
	height: 100px;
}

.mgr_icons {
	height:90px;
	width: auto;
	z-index:101;
}

/*#mgr_background {
	background-image: url("../public/images/pool1-min.png");

}*/

.pool_img {
	width:100%;	
	position: relative;
}

#location_img {
	width:100%;
	max-height: 400px;
}

ul.b {
    list-style-type: square;
}

