body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.apply {
	border: 1.5px solid white;
	font-weight: bold;
	font-size: .8em;
}

.amenities, .location, .floor-plans {
	margin-bottom:0px;
	padding-left:0px;
	padding-bottom:0px;
}

.amenities {
	padding: 0px 20px 0px 20px;
}

.lock {
	position: relative;
	top:2px;
}

#sidenav-overlay {
	z-index: 0;
}


#map {
    height: 400px;
    width: 100%;    
}

img {
	/*width: 100%;*/
	height: auto;
	max-height: 400px;
}

td {
	min-width:100px;
}