body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.apply {
	border: 1.5px solid white;
	font-weight: bold;
	font-size: .8em;
}

.amenities {
	height: 300px;
	margin-bottom: 0px;
	padding: 20px;
}

.location, .floor-plans {
	margin-bottom:0px;
	padding:20px;
	padding-left:0px;
	padding-bottom:0px;
}

.lock {
	position: relative;
	top:2px;
}

#sidenav-overlay {
	z-index: 0;
}

#floorplanslider {
	width: 45%;
}

#map {
    height: 400px;
    width: 45%;    
}